<div class="col-md-1"></div>
<h2 class="col-md-8">People</h2>
<a href="<%= "/people/new" %>" ><input class="col-md-3 btn btn-primary" id="add-new" type="button" value="Add New"/></a>
<table class="table">
  <thead>
    <th scope="col">Name</th>
    <th scope="col">Birthdate</th>
    <th scope="col">Magic Number</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td>
          <a href="<%= "/people/#{person.id}" %>">
            <%= "#{person.first_name} #{person.last_name}" %>
          </a>
        </td>
        <td>
            <%= "#{person.birthdate}" %>
        </td>
        <td>
          <%= "#{person.birthdate}" %>
        </td>
        <td>
          <a href="<%= "/people/#{person.id}/edit" %>"> Edit
        </td>
        <td>
          <form action="<%= "/people/#{person.id}" %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Delete" />
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
